<a href="https://colab.research.google.com/github/pranavaggarwal19/ShapeAI_Python_Machine_learning/blob/main/CCF_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Library

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [23]:
ccf = pd.read_csv('/content/creditcard.csv')

In [16]:
ccf.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [25]:
ccf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [27]:
ccf.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [28]:
ccf['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [31]:
normal = ccf[ccf.Class == 0]
fraud = ccf[ccf.Class == 1]

In [32]:
print(normal.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [34]:
normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [35]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [36]:
ccf.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [37]:
normal_sample = normal.sample(n=492)

In [41]:
sample = pd.concat([normal_sample, fraud], axis=0)

In [42]:
sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
209204,137453.0,2.237049,-0.453816,-2.081849,-0.805387,0.061937,-1.013786,-0.214840,-0.290600,-0.452635,...,-0.070291,-0.212899,0.173485,0.365161,0.032570,-0.294383,-0.033910,-0.032633,15.00,0
210214,137886.0,1.971071,-0.585337,-2.526625,0.501643,0.404829,-0.813267,0.525973,-0.309777,-1.308899,...,0.032098,0.367821,-0.173154,0.658817,0.632381,-0.247606,-0.066209,-0.064171,105.00,0
207773,136830.0,1.934561,-0.387328,0.144944,0.616327,-0.923678,-0.451755,-0.710723,-0.060478,1.105693,...,0.048817,0.333335,0.287197,0.092760,-0.498001,0.159003,0.014738,-0.027950,23.80,0
219367,141703.0,0.081267,-1.671533,2.037546,-2.057617,-2.321744,1.138677,-1.528926,0.598016,-0.153261,...,0.070082,0.825285,0.139553,-0.359300,-0.603310,-0.048365,0.147434,0.056514,104.45,0
75547,56115.0,1.294613,0.207161,-0.181271,0.311959,0.175593,-0.101019,-0.101544,0.068836,-0.011796,...,-0.322866,-1.005885,-0.016925,-0.902455,0.311555,0.152364,-0.034303,0.006913,1.98,0

In [43]:
sample['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [44]:
sample.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,90560.176829,-0.085658,-0.005691,-0.029289,0.010523,-0.002059,0.128021,0.020664,0.038965,0.100699,...,-0.042475,-0.012117,-0.052086,-0.012534,0.022308,0.043269,-0.053522,-0.029616,-0.019519,98.859817
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [49]:
A = sample.drop(columns='Class', axis=1)
B = sample['Class']

In [51]:
print(A)

            Time        V1        V2        V3        V4        V5        V6  \
209204  137453.0  2.237049 -0.453816 -2.081849 -0.805387  0.061937 -1.013786
210214  137886.0  1.971071 -0.585337 -2.526625  0.501643  0.404829 -0.813267
207773  136830.0  1.934561 -0.387328  0.144944  0.616327 -0.923678 -0.451755
219367  141703.0  0.081267 -1.671533  2.037546 -2.057617 -2.321744  1.138677
75547    56115.0  1.294613  0.207161 -0.181271  0.311959  0.175593 -0.101019
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
209204 -0.214840 -0.290600 -0.452635  ... -0.000231 -0.070291 -0.212899
210214  0.525973 -0.309777 -1.308899  ... -0.606161  0.032098  0.367821
207773 -0.710723 -0.060478  1.105693  ... -0.076145  0.048817  0.333335
219367 -1.528926  0.598016 -0.153261  ... -0.299231  0.070082  0.825285
75547  -0.101544  0.068836 -0.011796  ... -0.088707 -0.322866 -1.005885
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
209204  0.173485  0.365161  0.032570 -0.294383 -0.033910 -0.032633   15.00
210214 -0.173154  0.658817  0.632381 -0.247606 -0.066209 -0.064171  105.00
207773  0.287197  0.092760 -0.498001  0.159003  0.014738 -0.027950   23.80
219367  0.139553 -0.359300 -0.603310 -0.048365  0.147434  0.056514  104.45
75547  -0.016925 -0.902455  0.311555  0.152364 -0.034303  0.006913    1.98
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [52]:
print(B)

209204    0
210214    0
207773    0
219367    0
75547     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [54]:
A_train, A_test, B_train, B_test = train_test_split(A, B, test_size=0.2, stratify=B, random_state=2)

In [56]:
print(A.shape, A_train.shape, A_test.shape)

(984, 30) (787, 30) (197, 30)

In [58]:
LR = LogisticRegression()

In [60]:
LR.fit(A_train, B_train)

LogisticRegression()

In [65]:
A_train_prediction = LR.predict(A_train)
train_accuracy = accuracy_score(A_train_prediction, B_train)

In [67]:
print('Accuracy on Training data : ', train_accuracy)

Accuracy on Training data :  0.9428208386277002

In [69]:
A_test_prediction = LR.predict(A_test)
test_accuracy = accuracy_score(A_test_prediction, B_test)

In [70]:
print('Accuracy score on Test Data : ', test_accuracy)

Accuracy score on Test Data :  0.9238578680203046